header {
    color: black;
    text-decoration: underline;
    text-align: center;
    padding: 15px;
    font-size: 30px;
}
#intro-submit {
    text-align: center;
    background-color: darkgrey;
    opacity: 75%;
    padding: 20px;
    margin: 10px;
    border-radius: 35px;
}
#intro-submit p {
    font-size: large;
}
#categories {
    text-align: center;
    list-style-position: inside;
}
#categories h1 {
    text-decoration: underline;
    color: black;
}
.sub-cat {
    font-size: xx-large;
}
body {
    background-image: url("../img/embossed-diamond.png");
    margin: 0;
    font-family: 'Gloria Hallelujah', cursive;
}
a {
    text-decoration: none;
}
a:visited {
    color:black;
}
a:link {
    color:black;
}
a:hover {
    color:blue;
}
a:active {
    color:green;
}
ul, ol {
    list-style: none;
}
#breakfast, #lunch, #dinner {
    text-align: center;
}
textarea, button {
    border-radius: 15px;
    padding: 10px;
}
.collapsible-menu {
    background-color: rgb(255, 255, 255);
    opacity: 75%;
    padding: 0px 30px;
    border-bottom: 3px solid #CDE700;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}
.collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
}
#breakfast, #lunch, #dinner {
    display: none;
    font-family: 'Gloria Hallelujah', cursive;
}
.breakfast-menu, .lunch-menu, .dinner-menu label {
    display: block;
    cursor: pointer;
    padding: 5px 0;
}
.menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    padding: 0 0px;
    font-family: 'Gloria Hallelujah', cursive;

}
input:checked ~ .menu-content {
    max-height: 100%;
}